// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
    margin: 0 auto ;
}
.button {
    
    width: 100px;
    margin: 0 auto;
}

.form-group {
    width: 800px;
    margin: 0 auto;
}